/*Importação das Fonts google fonts)
*/
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wgth@500&family=Inter:wgth@600&family=Montserrat:wgth@800&family=Teko:wgth@600&display=swap');

/* Estilos gerais (todo o projeto) */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; /* Define o modelo da caixa para incliur padding e borda no tamanho total do elemento */
 }

 body {
    background: #1f1517;
    color: #ffff;
 }

 html {
    font-family: inter, sans-serif;
    font-weight: 500;
 }

 a {
    text-decoration: none; /* remove a decoração de texto, como sublinado, do elemento */
}

ul {
    list-style-type: none; /* Remove os mercadores da lista (bolinhas) de um elemento da lista */
}

/*_____________________________________________________*/
/* Header */

nav{
    max-width: 1120px; /*define a largura máxima do elemento em 1120 pixels */
    margin: auto; /* centraliza o elemento horizontalmente na tela */

    padding: 1.5rem 10rem;
    /* 1.5rem: Isso define o prenchimento vertical (topo e base) do elemento como 1.5 vezes o tamanho da fonte do elemento raiz. Se a fonte do elemento raiz de 16 pixels, isso resultaria em um prenchimento horizontal de160 pixels */

    /* 10rem: Isso define o prenchimento vertical (topo e base) do elemento como 10 vezes o tamanho da fonte do elemento raiz. Se a fonte do elemento raiz de 16 pixels, isso resultaria em um prenchimento horizontal de160 pixels */

    display: flex; /*define como um containercflexivel */
    flex-direction: row; /* Define a direção dos elementos filhos como uma linha */
    justify-content: space-between; /* Distribui os elementos filhos uniformemete ao longo do eixo principal, com espaçamento entre eles */

}

.title {
    font-family:'teko', sans-serif;
    font-size: 32px;
    font-weight: 600;
    text-transform: uppercase; /* Transforma o texto para letras maiusculas */
}

/* Estilos para o menu hamburger (responsividade) */
.menu-toggle {
    display: none; /* Não exibe em telas grandes */
    cursor: pointer;
}

/* Imagem do hamburger (Responsividade) */

.menu-icon {
    width: 20px;
    margin-left: 20px;
    display: none;
}

.menu {
    display: flex; /* Define o elemento como um container flexivel */
    flex-direction: row; /* Estabelece a direção dos elementos dos filhos para uma disposição em linha */
    gap: 24px; /* Estabelece a direção dos elementos filhos para uma disposição em linha */
    color: #fff2e788; /* Define a cor do texto para um tom especifico de amarelo */
    margin-top: 9px; /* Adiciona um espaçamento de margem superior de 9 pixels ao elemento */
    margin-left: 25px;
    margin-right: 25px;

}

.menu a:hover {
    color: #fff; /* Nova cor do texto quando o cursor passa por cima */
}

.menu a:visited {
    color: #fff2e788; /* Defina a cor dos links visitados como #fff2e780 */
}

.githug {
    color: #fff2e7;
    font-weight: 600;
    margin-top: 8px; /*adiciona um espaçamento de margen superior de 8 pixels ao elemento */
}

.githug:hover {
    color: #a45a49; /* Nova cor do texto quando o cursor passa por cima */
}



/*_________________________________________________________*/
/* Responsividave (telas manores que 768px) */

@media screen and (max-width: 768px) {

    /* Header */
    nav ul {
      position: absolute;
      top: 70px;
      left: 0;
      background: #333;
      width: 100%;
      overflow: hidden;
      transition: max-height 0.5s;
      z-index: 9;
    }
    nav ul li {
        display: block;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .menu {
        margin-left: 0px;
}

.menu-icon{
    display: block;
    cursor: pointer;
    margin-right: -70px;
}
.githug {
    margin-left: 70px;
    margin-right: 70px;
}
.tile{
    margin-left: -100px;
}


}
